.loading-spinner-container {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(0, 0, 0, 0.5); /* Add darker background */
            z-index: 10; /* Make sure the overlay is on top of other elements */
          }
