.btn:focus {
  outline: none;
  box-shadow: none;
}
.tidak-ada-camera{
  border-radius: 10px;
  background: var(--secondary-background-color);
  padding: 1%;
  width: 70%;
  height: 50px;
  width: 50px;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.ganti-camera{
  border-radius: 10px;
  background: var(--secondary-text-color);
  padding: 1%;
  width: 70%;
  height: 50px;
  width: 50px;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}